*{
    margin: 0;
    padding: 0;
}
html{
    margin:0;
    padding:0;
}
body{
    margin:0;
    padding:0;
}
.col1{
    float: left;
    width: 10%;
    padding: 2%;
}
.ss{
    position: sticky;
    top:0;
}
.col2{
 float: left;
 width: 68%;
 padding: 2%;
}
.col3{
    float: right;
    width: 10%;
    padding: 2%;
}